body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #eee;
    font-family: arial;
    width: 100vw;
    height: 100vh;
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
}

.header-left {
  display: flex;
  align-items: center; /* アイテムを垂直方向に中央揃え */
 justify-content: flex-start; /* アイテムを左端に配置 */
  height: 60px; 
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

.overlay-toggle {
  display: none; 
}
/* ハンバーガーアイコン */
.overlay-button {
  /* position: absolute;  */
  /* left: 2em; */
  /* ハンバーガーアイコンを左に配置　アイコンの左端から画面の左端までの距離が2em*/
  /* top: 3em; */
  /* アイコンの上端から画面の上端までの距離が3em */
  margin-right: 20px; 
  padding: 30px 10px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  background-color: blue;
  border-radius: 5px;
}

.overlay-button span {
  display: inline-block; 
  height: 4px;
  width: 45px;/* 中央の線の長さ一番長く */
  border-radius: 2px;
  background-color: white;
  position: relative;
  display: block;
  transition: all.2s ease-in-out;
}

.overlay-button span:before,.overlay-button span:after {
  content: ""; 
  height: 4px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  content: "";
  transition: all.2s ease-in-out;
  visibility: visible; 
}

.overlay-button span:before {
  top: -10px;
  width: 25px; /* 一番上の線を２番めに長く設定 */
}
.overlay-button span:after {
  top: 10px;
  width: 15px; /* 下の線を一番短く設定 */
}

.overlay-toggle:checked ~.overlay-button span:before,
.overlay-toggle:checked ~.overlay-button span:after {
  width: 35px; /* ハンバーガーアイコンの三本線から✖を作成する際の長さ */
}

.overlay-button:hover span, .overlay-button:hover span:before, .overlay-button:hover span:after {
  background: #fff;
}


.overlay-toggle:checked ~.overlay-menu {
  visibility: visible; 
}

.overlay-toggle:checked ~.overlay-button:hover span,.overlay-toggle:checked ~.overlay-button span {
  background: transparent;
}

.overlay-toggle:checked ~.overlay-button span:before{
  transform: rotate(45deg) translate(7px, 7px);
}

.overlay-toggle:checked ~.overlay-button span:after  {
  transform: rotate(-45deg) translate(7px, -7px);
}

.overlay-menu {
  height: 100vh;
  width: 100vw;
  background: #fff;
  z-index: 2;
  visibility: hidden;
  position: fixed;
}

.overlay-menu.active {
/* Java Script使用するときに記載*/
}
.overlay-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}
.overlay-menu ul li {
  padding: 1em;
}
.overlay-menu ul li a {
  color: blue;
  text-decoration: none;
  font-size: 1.5em;
}
.overlay-menu ul li a:hover {
  color: #000!important;
}

.header__logo {
    font-size: 2.8rem;
    color: blue;
    padding-left: 0;
    font-weight: bold;
}
