body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #eee;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

header.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  background-color: #eee; 
}

.header-left-content {
  display: flex;
  align-items: center;
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

header .overlay-toggle {
  display: none;
}
/* ハンバーガーアイコン */
header #overlay-button.overlay-button {
  display: block; /* ブロック要素にすることでハンバーガーアイコンが正しく表示 */
  margin: 80px 20px 0 80px;
  padding: 30px 10px;
  z-index: 10000; /* 他の要素よりも高く設定 */
  cursor: pointer;
  user-select: none;
  background-color: blue;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* 影の追加 */
  position: relative; /* z-indexを適用するためにrelativeを設定 */
  width: 60px; /* 追加 */
  height: 60px; /* 追加 */
}

header #overlay-button.overlay-button span {
  display: block;
  height: 4px;
  width: 45px; /* 中央の線の長さ一番長く */
  border-radius: 2px;
  background-color: white;
  position: relative; /* z-indexを適用するためにrelativeを設定 */
  transition: all 0.2s ease-in-out;
  z-index: 10000; /* 他の要素よりも高く設定 */
}

header #overlay-button.overlay-button span:before,
header #overlay-button.overlay-button span:after {
  content: "";
  height: 4px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  transition: all 0.2s ease-in-out;
  visibility: visible;
  z-index: 10000; /* 他の要素よりも高く設定 */
}

header #overlay-button.overlay-button span:before {
  top: -10px;
  width: 25px; /* 一番上の線を２番めに長く設定 */
}
header #overlay-button.overlay-button span:after {
  top: 10px;
  width: 15px; /* 下の線を一番短く設定 */
}

header .overlay-toggle:checked ~ #overlay-button.overlay-button span:before,
header .overlay-toggle:checked ~ #overlay-button.overlay-button span:after {
  width: 40px; /* ハンバーガーアイコンの三本線から✖を作成する際の長さ */
}

header #overlay-button.overlay-button:hover span,
header #overlay-button.overlay-button:hover span:before,
header #overlay-button.overlay-button:hover span:after {
  background: #fff;
}

header .overlay-toggle:checked ~ #overlay-button.overlay-button:hover span,
header .overlay-toggle:checked ~ #overlay-button.overlay-button span {
  background: transparent;
}

header .overlay-toggle:checked ~ #overlay-button.overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
}

header .overlay-toggle:checked ~ #overlay-button.overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

header .overlay-menu {
  height: 100vh;
  width: 100vw;
  background: #fff;
  z-index: 9999;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
}

.overlay-toggle:checked + #overlay-button.overlay-button span,
.overlay-toggle:checked ~ .overlay-menu {
  visibility: visible;
}

header .overlay-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}

header .overlay-menu ul li {
  padding: 1em;
}

header .overlay-menu ul li a {
  color: blue;
  text-decoration: none;
  font-size: 1.5em;
}

header .overlay-menu ul li a:hover {
  color: #000 !important;
}

header .overlay-menu ul li button.logout-link {
  background: none !important;
  border: none !important; /* 境界線を非表示 */
  padding: 0 !important; /* フォームの周囲の余白を除去 */
  color: blue !important;
  text-decoration: none !important;
  cursor: pointer !important; /* マウスカーソルをポインター（手の形）に変化 */
  font-size: 1.5em !important;
}

/* ホバー時のスタイル */
header .overlay-menu ul li button.logout-link:hover {
  color: #000 !important; /* マウスオーバー時にテキストカラーを黒に変更 */
}

/* ロゴ */
header .header__logo {
  font-size: clamp(0.8rem, 0.073rem + 3.64vw, 2.8rem);
  color: blue;
  padding-left: 0;
  margin-top: 80px;
  font-weight: bold;
  white-space: nowrap;
  /* テキストを一行に強制 */
}

@media screen and (max-width: 768px) {
  /* header.header-left {
    flex-direction: row; */
     /* 横並びにする */
    /* justify-content: flex-start; */
     /* 左右に配置 */
  /* } */

  header.header-left {
    margin-top: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }

  .header-left-content {
    width: 100%;
    justify-content:flex-starts;
  }

  /* header #overlay-button.overlay-button {
    margin: 0;
    padding: 10px;
    padding-right: 40px;
    width: 40px; 
    height: 40px; 
  } */

  header #overlay-button.overlay-button {
    margin: 0;
    margin-left: 10px;
    margin-right:10x;
    /* width: 40px;  */
    /* ボタンの幅を小さく調整 */
    height: 20px; /* ボタンの高さを小さく調整 */
  }

  header #overlay-button.overlay-button span {
    height: 3px;/* 線の太さ */
    width: 30px;/* ハンバーガー線の長さ */
  }

  header #overlay-button.overlay-button span:before,
  header #overlay-button.overlay-button span:after {
    height: 3px;
    width: 25px;
  }
  header #overlay-button.overlay-button span:after {
  /* top: 10px; */
  width: 20px; /* 下の線を一番短く設定 */
}

  header #overlay-button.overlay-button span:before {
    top: -10px;
  }

  header #overlay-button.overlay-button span:after {
    top: 10px;
  }
  
  header .header__logo {
    font-size: 1.5rem; 
    /* サイズを調整 */
    margin: 0;
    padding: 0;
    /* margin-top: 20px; 
    margin-left: 20px; */
  }
}



body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #eee;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

header.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  background-color: #eee; 
}

.header-left-content {
  display: flex;
  align-items: center;
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

header .overlay-toggle {
  display: none;
}
/* ハンバーガーアイコン */
header #overlay-button.overlay-button {
  display: block; /* ブロック要素にすることでハンバーガーアイコンが正しく表示 */
  margin: 80px 20px 0 80px;
  padding: 30px 10px;
  z-index: 10000; /* 他の要素よりも高く設定 */
  cursor: pointer;
  user-select: none;
  background-color: blue;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* 影の追加 */
  position: relative; /* z-indexを適用するためにrelativeを設定 */
  width: 60px; /* 追加 */
  height: 60px; /* 追加 */
}

header #overlay-button.overlay-button span {
  display: block;
  height: 4px;
  width: 45px; /* 中央の線の長さ一番長く */
  border-radius: 2px;
  background-color: white;
  position: relative; /* z-indexを適用するためにrelativeを設定 */
  transition: all 0.2s ease-in-out;
  z-index: 10000; /* 他の要素よりも高く設定 */
}

header #overlay-button.overlay-button span:before,
header #overlay-button.overlay-button span:after {
  content: "";
  height: 4px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  transition: all 0.2s ease-in-out;
  visibility: visible;
  z-index: 10000; /* 他の要素よりも高く設定 */
}

header #overlay-button.overlay-button span:before {
  top: -10px;
  width: 25px; /* 一番上の線を２番めに長く設定 */
}
header #overlay-button.overlay-button span:after {
  top: 10px;
  width: 15px; /* 下の線を一番短く設定 */
}

header .overlay-toggle:checked ~ #overlay-button.overlay-button span:before,
header .overlay-toggle:checked ~ #overlay-button.overlay-button span:after {
  width: 40px; /* ハンバーガーアイコンの三本線から✖を作成する際の長さ */
}

header #overlay-button.overlay-button:hover span,
header #overlay-button.overlay-button:hover span:before,
header #overlay-button.overlay-button:hover span:after {
  background: #fff;
}

header .overlay-toggle:checked ~ #overlay-button.overlay-button:hover span,
header .overlay-toggle:checked ~ #overlay-button.overlay-button span {
  background: transparent;
}

header .overlay-toggle:checked ~ #overlay-button.overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
}

header .overlay-toggle:checked ~ #overlay-button.overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

header .overlay-menu {
  height: 100vh;
  width: 100vw;
  background: #fff;
  z-index: 9999;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
}

.overlay-toggle:checked + #overlay-button.overlay-button span,
.overlay-toggle:checked ~ .overlay-menu {
  visibility: visible;
}

header .overlay-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}

header .overlay-menu ul li {
  padding: 1em;
}

header .overlay-menu ul li a {
  color: blue;
  text-decoration: none;
  font-size: 1.5em;
}

header .overlay-menu ul li a:hover {
  color: #000 !important;
}

header .overlay-menu ul li button.logout-link {
  background: none !important;
  border: none !important; /* 境界線を非表示 */
  padding: 0 !important; /* フォームの周囲の余白を除去 */
  color: blue !important;
  text-decoration: none !important;
  cursor: pointer !important; /* マウスカーソルをポインター（手の形）に変化 */
  font-size: 1.5em !important;
}

/* ホバー時のスタイル */
header .overlay-menu ul li button.logout-link:hover {
  color: #000 !important; /* マウスオーバー時にテキストカラーを黒に変更 */
}

/* ロゴ */
header .header__logo {
  font-size: clamp(0.8rem, 0.073rem + 3.64vw, 2.8rem);
  color: blue;
  padding-left: 0;
  margin-top: 80px;
  font-weight: bold;
  white-space: nowrap;
  /* テキストを一行に強制 */
}

@media screen and (max-width: 768px) {
  /* header.header-left {
    flex-direction: row; */
     /* 横並びにする */
    /* justify-content: flex-start; */
     /* 左右に配置 */
  /* } */

  header.header-left {
    margin-top: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }

  .header-left-content {
    width: 100%;
    justify-content:flex-starts;
  }

  /* header #overlay-button.overlay-button {
    margin: 0;
    padding: 10px;
    padding-right: 40px;
    width: 40px; 
    height: 40px; 
  } */

  header #overlay-button.overlay-button {
    margin: 0;
    margin-left: 10px;
    margin-right:10x;
    /* width: 40px;  */
    /* ボタンの幅を小さく調整 */
    height: 20px; /* ボタンの高さを小さく調整 */
  }

  header #overlay-button.overlay-button span {
    height: 3px;/* 線の太さ */
    width: 30px;/* ハンバーガー線の長さ */
  }

  header #overlay-button.overlay-button span:before,
  header #overlay-button.overlay-button span:after {
    height: 3px;
    width: 25px;
  }
  header #overlay-button.overlay-button span:after {
  /* top: 10px; */
  width: 20px; /* 下の線を一番短く設定 */
}

  header #overlay-button.overlay-button span:before {
    top: -10px;
  }

  header #overlay-button.overlay-button span:after {
    top: 10px;
  }
  
  header .header__logo {
    font-size: 1.5rem; 
    /* サイズを調整 */
    margin: 0;
    padding: 0;
    /* margin-top: 20px; 
    margin-left: 20px; */
  }
}
