main {
    margin-top: 100px;
}

.register-page {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #eee;
}


.registration-container {
    width: 90%;
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.registration-header {
    /* margin-bottom: 10px; */
    background-color: blue;
    color: #fff;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none; /*テキストの他の側面の枠線を非表示 */
    border-bottom: 1px solid #ccc; /* 下線*/
    border-radius: 5px;
}


.error-message {
    color: red;
    margin-bottom: 10px;
}

.form-submit {
    display: flex;
    justify-content: flex-end; /* ボタンを右寄せにする */
}

.submit-button {
    display: inline-block;
    background-color: rgb(63, 90, 242);
    color: #fff;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.submit-button:hover {
    background-color: darkblue;
}

.admin-register-wrapper {
    margin-top: 10px;
    text-align: center;
}

.admin-register-link {
    font-size: 20px;
    color: #337ab7;
    text-decoration: underline;
}


.admin-register-link:hover {
    color: #23527c;
}

/* 店舗代表者作成　admin/users/create-shop-manager.blade.php　管理者専用ぺージに戻るボタン */
.back-button {
  margin-top: 20px;
  text-align:left;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
  margin-left:15px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268;
}